<header>
  <div class="title">
    <h1>techUP</h1>
    <p>The best way to keep UP in tech!</p>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a method="GET" action="/logout" href="/logout">Logout</a>
  </nav>
</header>

<section class="posts-body">

  <h3 class="welcome">Welcome, {{email}}!</h3>

  {{#each blogPost}}
  <div class="post-wrapper">
    <a href="/posts/{{this.id}}">
      <div class="post">
        <div class="post-title-and-info">
          <h4>{{this.title}}</h4>
    </a>
    <p>{{this.userName}}</p>
  </div>
  </div>
  <div class="post-content">
    <p>{{this.text}}</p>
  </div>
  </div>
  {{/each}}
</section>

<form class="blog-form" action="/dashboard/{{this.id}}" method="POST">
  <div class="comment-wrapper make-a-post-wrapper">
    <h3 class="h3-comments h3-post">Write a Post:</h3>
    <input type="text" id='title' placeholder='What would you like to title your post?' name="title">
    <textarea placeholder="What would you like to say?" id="text" name="text" rows="3"></textarea> 
    <button type="submit" class="post-btn" type="button">Post</button>
  </div>
</form>