<header>
  <div class="title">
    <h1>techUP</h1>
    <p>The best way to keep UP in tech!</p>
  </div>

  <nav>
    <a href="/">Home</a>
    <a href="/private/dashboard">Dashboard</a>
    <a href="/auth/login">Login</a>
  </nav>
</header>

<section class="posts-body">
    <div class="post-wrapper">
      <a href="/posts/{{this.id}}">
        <div class="post">
          <div class="post-title-and-info">
            <h2>{{title}}</h2>
            </a>
            <p>{{userName}}</p>
          </div>
        </div>
        <div class="post-content">
          <p>{{text}}</p>
        </div>
    </div>
</section>



{{!-- <body>
  <h1>{{title}}</h1>
  <p>{{userName}}</p>
  <p>{{text}}</p>
</body> --}}